body {
    margin: 0;
    font-family: Gilroy, Verdana, sans-serif;
  }
H1 { 
  font-size: 64px;
  font-weight: bold;
  font-style:normal;
    }
H2 { font-weight: bold }
H3 { font-weight: bold }
H4 { font-weight: bold }
H5 { font-weight: bold }
H6 { font-weight: bold }
p {
  font-size: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-image {
  background-image: url("https://cindychanster.github.io/leftOvers/images/vegetableHero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 595px;
  padding: 50px;
}
.hero-text {
  position: relative;
  color: #473729;
  text-align:center;
}
.hero-text h1 {
  font-size:40px;

}
.hero-text button {
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #3B7A62;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  bottom: 50px;
  max-width: 200px;
  margin-top: 25px;
  position:relative;
}
.hero-text button:hover {
  background-color: #56977E;
  color: white;
}
.navbarLogo {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border: #000000;
  border-width: 3px;
}
.skillsCard {
  padding: 25px;
  width: 500px;
  vertical-align: top;
}
.mySkills {
  text-align: center;
  width: 100%;
  vertical-align: top;
}